/* Title styling */
.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Individual recipe item styling */
.recipe-item {
  padding: 5px;
  border-radius: 8px;
  background: #535151;
  margin-bottom: 10px;
}

/* Add button spacing */
.add-button {
  margin: 20px;
}
